/* ================================================================================ */
/* section, div{ border : 1px solid black;}  */
/* 요소 영역 확인용 */

/* 개발자 도구에서 원하는 요소 우클릭 > copy > Copy selector  */
/* body > main > section > div:nth-child(6){
    border-bottom : 3px solid #ccc;
} */
 
/* === 전체 초기화 및 공통 설정 === */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* === 전체 페이지 레이아웃 === */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.main-header,
.main-nav,
.main-footer {
    height: 60px;
    background-color: #ddd;
    width: 100%;
}

/* === 본문 전체 === */
.content-wrapper {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

/* === 상단 영역 === */
.content-top,
.content-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.content-top > div,
.content-bottom > div {
    min-height: 60px;
    /* background-color: #f0f0f0; */
    background-color: #fff;
}

/* === 본문 중앙 영역 === */
/*      */

/* .section1 {
    flex: 0 1 auto; 
} */
/* 
flex: 0 1 auto; 
    flex item(즉, display: flex 컨테이너 안의 자식 요소)의 크기와 늘어남/줄어듦의 동작을 제어
    a) flex-grow: 0; => 남는 공간을 나눠 가지지 않음. 즉, 절대 늘어나지 않음.
    b) flex-shrink: 1; => 공간이 부족할 경우 줄어들 수 있음.
    c) flex-basis: auto; => 기본 크기는 콘텐츠 크기(또는 width 등 명시된 값)에 따라 결정됨.
=>요소는 자기 본연의 크기(auto)로 시작하며,
    공간이 남더라도 늘어나지 않고,
    공간이 부족하면 줄어들 수 있습니다.(즉, 내용만큼만 차지, 남는 공간 무시)
    기본적으로 콘텐츠 크기만큼만 차지

=> flex: 1;과 flex: 0 1 auto;는 flex 아이템이 레이아웃에서 공간을 차지하는 방식이 완전히 다릅니다.

flex: 1;
    a) flex-grow: 1; => 남는 공간 나눔 (늘어남)
    b) flex-shrink: 1; => 공간이 부족할 경우 줄어들 수 있음.
    c) flex-basis: 0; => 기본 크기 없음, 기본 크기를 0으로 간주, 오직 flex-grow로 크기 결정
=> 가능한 만큼 늘어나서 공간 꽉 채움: 콘텐츠 크기를 무시하고 전체 공간을 차지함, 모든 아이템에 flex: 1을 주면 동일한 비율로 남는 공간을 나눔

*/

/* 각 <div>가 한 줄에 꽉 차게 배치되면서, 균등한 간격을 유지하려면 flexbox를 사용 */
.content-top-container{
    display: flex;
    flex-direction: row;

    justify-content: space-between; /* 항목 사이에 일정 간격 */
    /* align-items: center; */ /* 세로 가운데 정렬 */
    align-items: flex-start; /* 세로 가운데 정렬 */
    width: 100%; /* 가로 꽉 차게 */
    padding: 10px; /* 선택적: 안쪽 여백 */

    box-sizing: border-box;

    margin-left: 10%;
    margin-right: 10%;

}
.content-top-container > div {
    /*flex: 1;*/ /* 각 항목이 동일한 너비로 배치, block처럼 부모영역 다 차게 */
    flex: 0 1 auto; /* 각 항목이 동일한 너비로 배치, inline처럼 요소 콘텐츠영역만 차지 */
    text-align: left; /* 텍스트 가운데 정렬 */
    padding: 5px; /* 선택적: 내부 여백 */
    box-sizing: border-box;

    /* [ box-sizing]
        content-box(기본값)        content-width + padding + border
        border-box(실무에서 추천)  content- width 안에 padding, border 포함
            -레이아웃을 예측하기 쉬움: 너비 지정하면, 진짜 그 너비만큼 차지함
            -일관된 디자인 유지: 패딩이나 보더 추가해도 요소의 크기가 변하지 않음
    */


}



.content-middle-container {
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;

    /* width: 100%;
    display: block;
    position: relative; */
    /* 가장 중요: height는 자식 내용에 따라 자동 증가 */


}

/* 각 <div>가 한 줄에 꽉 차게 배치되면서, 균등한 간격을 유지하려면 flexbox를 사용 */
.section-container-left.top{
    display: flex;
    flex-direction: row;

    /*justify-content: space-between;*/ /* 항목 사이에 일정 간격 */
    justify-content: flex-start; /* 항목 사이에 일정 간격 */
    /* align-items: center; */ /* 세로 가운데 정렬 */
    /*align-items: flex-start;*/ /* 세로 위에 붙여 정렬 */
    align-items: flex-end; /* 세로 밑에 붙여 정렬 */
    
    /* align-items: flex-start;  */
    /* 세로 가운데 정렬 */
    /*width: 70%;*/ /* 가로 꽉 안차고, 70%만 잡아서 왼쪽으로 치우치게 */
    width: 100%; /* 가로 꽉 안차고, 70%만 잡아서 왼쪽으로 치우치게 */

    /* padding: 10px;  */
    /* 선택적: 안쪽 여백 */

    box-sizing: border-box;

    height: 50px;

}
.section-container-left.top > span {
    /*flex: 1;*/ /* 각 항목이 동일한 너비로 배치 */
    /* flex: 1 ; */
    flex: 0 1 auto; /* 각 항목이 자기 콘텐츠크기만큼만 영역차지, 왼쪽으로 붙음 */

    text-align: left; /* 텍스트 가운데 정렬 */
    padding: 5px; /* 선택적: 내부 여백 */
    box-sizing: border-box;

    /* [ box-sizing]
        content-box(기본값)        content-width + padding + border
        border-box(실무에서 추천)  content- width 안에 padding, border 포함
            -레이아웃을 예측하기 쉬움: 너비 지정하면, 진짜 그 너비만큼 차지함
            -일관된 디자인 유지: 패딩이나 보더 추가해도 요소의 크기가 변하지 않음
    */


}


/* 각 <div>가 한 줄에 꽉 차게 배치되면서, 균등한 간격을 유지하려면 flexbox를 사용 */
.section-container-right.top{
    display: flex;
    flex-direction: row;

    justify-content: space-between; /* 항목 사이에 일정 간격 */
    /* align-items: center; */ /* 세로 왼쪽 정렬 */
    /*align-items: flex-start;*/ /* 세로 가운데 정렬 */
    align-items: flex-start; /* 세로 가운데 정렬 */
    width: 100%; /* 가로 꽉 차게 */

    /* padding: 10px;  */
    /* 선택적: 안쪽 여백 */

    box-sizing: border-box;

    height: 50px;
}
.section-container-right.top > span {
    /*flex: 1;*/ /* 각 항목이 동일한 너비로 배치 */
    flex: 0 1 auto;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    padding: 5px; /* 선택적: 내부 여백 */
    box-sizing: border-box;

    /* [ box-sizing]
        content-box(기본값)        content-width + padding + border
        border-box(실무에서 추천)  content- width 안에 padding, border 포함
            -레이아웃을 예측하기 쉬움: 너비 지정하면, 진짜 그 너비만큼 차지함
            -일관된 디자인 유지: 패딩이나 보더 추가해도 요소의 크기가 변하지 않음
    */


}


.section-container{
    /* padding:1px; */
    /* border: 1px solid black; */
    background-color: #ddd;
} 

.section-container.left {
    /* flex: 1;
    display: flex;
    flex-direction: column; */

    width: 100%;
    display: block;
    position: relative;
    /* 가장 중요: height는 자식 내용에 따라 자동 증가 */
    /* gap:20px; */

}

/* do-nothing */
.section-container.left.top {
    padding: 0px 0px 0 0;
}

/* 섹션 컨테이너: 수직 정렬 */
.section-container.right {

    width: 100%;
    display: block;
    position: relative;
    /* 가장 중요: height는 자식 내용에 따라 자동 증가 */

    /* display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; */
}

/* section: 위에서 아래로 정렬 */
.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #eaeaea; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

/* section 내부 div 공통 스타일 */
.section > div {
    min-height: 400px;
    background-color: #fff;
    /* border: 1px solid #bbb; */
    padding: 8px;
}


/* === section left의 이미지 영역 처리: 늘어날수 있게? === */
.sec-left-div1.exhibition-image {
    display: flex;

    /* overflow: auto; */
    overflow: visible;
    
    /* max-height: 600px;  */
    /* 필요 시 제한 높이, 없애도 됨 */

    /* description영역 기본 스타일 */
    width: 100%;
    border-collapse: collapse;
}
.image-wrapper{
    border: 1px solid black;

    /* 선택적: 안쪽 여백 */
    padding:2px 2px;

    flex: 1;
}

/* === section left의 description 영역 처리 === */
.sec-left-div2.exhibition-description {
    /*  auto이면 넘칠 때만 스크롤; scroll이면 스크롤 생김; hidden이면 잘림; */
    overflow: auto;

    /* 스크롤 안 하고, 콘텐츠가 많아지면 요소의 높이(or 너비)가 늘어나게 하기 */
    /* CSS 기본값 유지: height나 overflow를 아무것도 지정하지 않으면, 콘텐츠 길이에 따라 박스가 자동으로 세로로 늘어납니다. */
    /* overflow: visible; ← 기본값이 visible임 */
    /* overflow: visible; */

    max-height: 600px; 
    /* 필요 시 제한 높이, 없애도 됨 */
}

/* description영역 기본 스타일 */
.sec-left-div2.exhibition-description {
    width: 100%;
    border-collapse: collapse;
}
/* .exhibition-description-title{
    border: 1px solid black;
    padding:2px 2px;
    flex: 1;
} */



/* === 하단 section-bottom === */
.section-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #e0e0e0; */
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.section-bottom > div{
    visibility: hidden ;
}
.content-bottom{
    margin-left: 10%;
    margin-right: 10%;
}


/* 각 <div>가 한 줄에 꽉 차게 배치되면서, 균등한 간격을 유지하려면 flexbox를 사용 */
.content-bottom-btn-wrapper{
    display: flex;
    flex-direction: row;

    justify-content: flex-end; /* 항목 사이에 일정 간격 */
    /* align-items: center; */ /* 세로 가운데 정렬 */
    align-items: flex-end; /* 세로 가운데 정렬 */
    width: 100%; /* 가로 꽉 차게 */
    padding: 10px; /* 선택적: 안쪽 여백 */

    box-sizing: border-box;

    /* margin-left: 5%;
    margin-right: 5%; */ /* not-working here */

}




.sec-right-div2.btn-wrapper{
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* 항목 사이에 일정 간격 */
    /* align-items: center; */ /* 세로 가운데 정렬 */
    align-items: flex-end; /* 세로 가운데 정렬 */
    width: 100%; /* 가로 꽉 차게 */
    padding: 10px; /* 선택적: 안쪽 여백 */

    box-sizing: border-box;    
}
/*  안에 item이 버튼하나이므로 자식에 대하 ㄴ추가 지정은 필요 없을 듯
.sec-right-div2.btn-wrapper > div {  
} 
*/
/* .btn-purchase {
    border: 1px solid black;
    padding: 0 10px;
} */
#purchaseBtn{
    width: 80px;
    height: 30px;
    font-weight: bold;
    border: 0;

    background-color: #455ba8;
    color : white;
    cursor: pointer;
}

#purchaseBtn:hover{
    background-color: white;
    color : #455ba8;
    border: 2px solid #455ba8;
}



/* .exhibition-detail-btn-chatbot {
    border: 1px solid black;
    padding: 0 10px;
} */
#chatbotBtn{
    /* margin-top: 20px; */

    width: 250px;
    height: 30px;
    font-weight: bold;
    border: 0;

    background-color: #455ba8;
    color : white;
    cursor: pointer;
}

#chatbotBtn:hover{
    background-color: white;
    color : #455ba8;
    border: 2px solid #455ba8;
}






/* 오른쪽 섹션 하단에 placeholder 영역 2개  */
.placeholder-area1{
    border: 1px solid black;

    /* 선택적: 안쪽 여백 */
    padding: 50px 10px;

    /* 선택적: 바깥 여백 : top right bottom left*/
    margin: 20px 0 40px 0; 

    text-align: center;
}

.placeholder-area2{
    border: 1px solid black;

    /* 선택적: 안쪽 여백 */
    padding:150px 10px;
    /* padding:50px 10px; */

    /* 선택적: 바깥 여백 : top right bottom left*/
    margin: 0 0 0px 0; 

    text-align: center;
}


/* === 반응형 보완 === */
@media (max-width: 768px) {
    .content-wrapper {
        padding: 5px;
    }

    .section-container {
        gap: 15px;
    }

    .section {
        padding: 8px;
    }
}


/* ====================================================== */



/* 작성자 영역 */

/* 프로필: profileImage */
.section-container-left.top  img{
    width: 40px;
    height: 40px;

    margin-left: 20px;
}

/* 닉네임 */
.section-container-left.top > span{
    font-weight: bold;
    margin-left : 10px;
}

/* 작성일(최종수정일), 조회수 */
.section-container-right.top  span{
    font-weight: bold;
    margin-left : 10px;

    height: 40px; 
    /* section-container-left.top 과 section-container-right.top 높이 맞춰주기위함"" */

    margin-right: 20px;
}

/* 좋아요 */
.exhibition-detail-like-area{
    margin-left: 30px;
}

/* need to fix this: unseen heart... */
#exhibitionLike{
    font-size: 1.5em;
    color: red;
    cursor: pointer;

    /* width: 40px;
    height: 40p; */
}

.heart-wrapper{
    font-size: 1.5em;
    color: blue;
    cursor: pointer;

    width: 40px;
    height: 40p;
}






/* .exhibitionImg를 감싸는 div */
.img-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* thumbnail이 중앙에 오도록 */
    align-items: center;
}


/* 이미지를 감싸는 div */
.exhibitionImg{
    /* width: 230px;
    height: 200px; */
    display: inline-block;
    text-align: center;
}

/* 이미지를 감싸는 div */
.exhibitionImg.thumbnail{
    /* width: 230px;
    height: 200px; */
    display: block;
    text-align: center;
}


/* 이미지 */
.exhibitionImg img{
    max-width: 90%;
    max-height: 90%;
    /* margin-left: 50px; */
}

/* 썸네일만 이미지 크게 */
.thumbnail{
    width: 300px;   
    height: 300px;
}

/* 다운로드 a태그 */
.exhibitionImg a{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;

}

/* 다운로드 a태그 효과 처리*/
a{
    text-decoration: none;
    color : black;
}

a:hover {
    text-decoration: underline;
}












/* 내용 */
.exhibition-description-title{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.exhibition-description-text-wrapper{
    padding:5px 0px;
}
.exhibition-description-text{
    /* border: 1px solid black; */

    /* 선택적: 안쪽 여백 */
    /* padding:50px 10px; */

    flex: 1;

    /* 너무 긴 단어(공백 없는 문자열)로 인해 가로로 튀어나갈 경우 적절히 줄바꿈기능 */
    word-break: break-all;
}

.exhibition-description-text{
    clear: both;
    padding: 30px 30px;
    border-bottom : 3px solid #ccc; /* 변하지 않는 것에 스타일 주자(보더라인 아래) -> 이미지 있고/없고에 스타일 영향 줄이기 위함 */

    border-top : 3px solid #ccc; /* 변하지 않는 것에 스타일 주자(보더라인 아래) -> 이미지 있고/없고에 스타일 영향 줄이기 위함 */

    font-size: 18px;
    min-height: 250px;
    white-space: pre-wrap;
}





/* 게시글 정보 */
.sec-right-div1.exhibition-lines{
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;    
}

.sec-right-div1.exhibition-lines > div{
    margin: 10px 5px;
}

.sec-right-div1.exhibition-lines span{
    /* width: 120px; */
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

/* 게시글 제목 */
.exhibition-title{
    margin : 0;
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;    
    border-bottom : 3px solid #ccc;
}
.exhibition-title > span{
    font-size: 16px;
    color: gray;
}



.exhibition-subtitle{
    font-size: 1.4em;
    font-weight: bold;

    text-align: center;
    /* margin-bottom: 5px;
    word-break: break-all;
    white-space: pre-wrap; */

    white-space: pre-line;  /* 줄바꿈 허용 */
    word-break: break-word; /* 긴 단어도 줄바꿈 가능 */
    line-height: 1.6;        /* 줄간격 보기 좋게 */
    /* padding: 10px 0; */
    padding: 0px 0 70px 0;
}

.exhibition-info{
/* .sec-right-div1.exhibition-lines{ 
    font-size: 1.2em;
    font-weight: bold;*/

    padding-bottom: 18px;
}



/* 
clear: both;
해당 요소 위에 float: left; 또는 float: right; 된 요소가 있을 경우,
그 바로 옆에 나타나지 않고 → 그 아래로 내려가게 합니다.

이미지 또는 다른 부유 요소 아래에 제목이나 내용이 제대로 라인 정렬되도록 할 때
<h5>가 float 요소 옆에 올라붙지 않도록 명확하게 구조 정리할 때
*/
/* .board-detail h5{
    clear: both;
    margin: 10px 0;
} */



/* 버튼 영역 */
.content-bottom-btn-wrapper{
    /* text-align: right; */
    width:100%;

    display: flex;
    justify-content: last baseline;
    /* align-items: last baseline; */
    align-items: center;
}


.content-bottom-btn-wrapper > div {
    /* 각 항목이 동일한 너비로 배치 */
    /* flex: 1; */
    /* 각 항목이 동일한 너비로 배치 */
    flex: 0 1 auto;
    /* text-align: center; */   /* 텍스트 가운데 정렬 */
    text-align: left; 
    padding: 0 10px; /* 선택적: 내부 여백 */
    margin-left: 20px; /* 선택적: 외부 왼쪽 여백 */
    box-sizing: border-box;

    /* [ box-sizing]
        content-box(기본값)        content-width + padding + border
        border-box(실무에서 추천)  content- width 안에 padding, border 포함
            -레이아웃을 예측하기 쉬움: 너비 지정하면, 진짜 그 너비만큼 차지함
            -일관된 디자인 유지: 패딩이나 보더 추가해도 요소의 크기가 변하지 않음
    */

    /* border: 1px solid black; */
}


/* 버튼 */
.content-bottom-btn-wrapper button{
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-weight: bold;
    border: 0;
    background-color: #455ba8;
    color : white;

    cursor: pointer;
}

.content-bottom-btn-wrapper button:hover{
    background-color: white;
    color : #455ba8;
    border: 2px solid #455ba8;
}


