.menu-container {
 display: flex;
 /* gap: 20px; */
 border: 2px solid black;
 /* width: 500px; */
 /* height: 150px; */
 padding: 20px;
 margin-top: 10px;
 /* box-sizing: border-box; */

  flex-direction: row;
  justify-content:space-between;
  /* justify-content:space-around; */
  /* justify-content: flex-start; */
  /* justify-content: last-baseline; */
  align-items: center
}

/* .result-row {
 width: 50%;
 display: flex;
 flex-direction: column;
}
.result-row {
 text-align: center;
}
.result-row > div:first-child {
 font-size: 3em;
} */