<!DOCTYPE html>
<html lang="en"  xmlns="http://www.thymeleaf.org"> <!-- 현재 HTML 문서에 타임리프 문법을 사용한다고 선언 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>전시 목록 조회</title> -->
    <title th:text="${exhibitionName}">전시 게시판: 전체 목록</title>    

    <link rel="stylesheet" th:href="@{/css/exhibition/exhibitionList-style.css}">


</head>
<body>
<!-- <body th:with = "profileImage=${map.exhibitionList[0].profileImage}"> -->
    <!-- [ [${profileImage} ]]  -->
    <!-- ok: /media/yypark/data_z7f/dir_KDT_TJ903/jr1st_proj/sBox_SpringBoot/openAPI_exhibit/openAPI_CCA145/src/main/resources/static/images/exhibition/penguin.png -->

    <!-- [ [${session.loginMember.profileImage}] ]  -->
    <!-- <hr> -->
    <!-- [ [${exhibitionCode}] ] -->
    <!-- ok: /media/yypark/data_z7f/dir_KDT_TJ903/jr1st_proj/sBox_SpringBoot/openAPI_exhibit/openAPI_CCA145/src/main/resources/static/images/exhibition/penguin.png -->

    <!-- [ [${exhibitionList}] ] ok. previous-->
    <!-- [ [${pagination}] ]  ok,. previous -->
    <!-- [ [${map}] ]  ok now... -->

    <!-- 전체를 감싸는 태그 -->
    <div id="page-wrapper">
      <!-- main-태그 내부에서만 사용하는 변수 (전역변수 선언은 body태그 안에 선언해야한다) -->
      <main th:with="pagination=${map.pagination}, exhibitionList=${map.exhibitionList}">
        <!-- , 템플릿 내에서 임시로 사용할 변수를  th:with를 사용하여 선언  -->
        <!-- 헤더: header.html -->
        <header id="main-header"></header>

        <!-- 타임리프 조각을 이용한 변경 -->
        <!-- /templates/  common/header    .html -->
        <!-- header.html 조각(fragment)을 얻어와서 추가하기 -->
        <!-- <th:block th:replace="~{/common/header}">header.html</th:block> -->



        <!-- 네비케이션 -->
        <nav id="main-nav"></nav>

        <!--  ###################################################### -->

        <th:block th:with="boardName='전시게시판'">
            <h1 class="board-name" th:text="${boardName}">게시판 이름</h1> 
        </th:block>

        <!-- 본문:  -->
        <div id="content-wrapper">
            <!-- 본문 상단 영역 -->
            <div id="content-top">
                <div id="contop-sub1"></div>
            </div>

            <!-- 본문 중앙 영역 -->
            <div id="content-middle">

                <!-- 본문 중앙-Center: 실제 모든 내용 여기에 -->

                    
                    <div id="section-container">
                        <!-- 카드목록 브라우징 영역 -->
                        <section id="section-card-list">
                            <div class="card present"  id="card-present">
                                <div class="card-title present" id="card-title-present" >현재 진행중인 전시</div>
                                <div class="slider-container">
                                    <!-- <button class="slider-button left" onclick="slideLeft()">&#8592;</button> -->
                                    <button class="slider-button left present" id="leftBtnPresent" onclick="slideLeftPresent()">&lt;</button>
                                    <div class="slider-wrapper present" id="sliderWrapperPresent">
                                        <!-- Thymeleaf로 아이템 렌더링 -->
                                        <div class="slide present" th:each="item : ${exhibitionList}">
                                            <div class="slide-item present">
                                                <!-- <img  class="slider-thumbnail"  th:src="${item.imageList.ImagePath+item.imageList.ImageOriginal}"> -->
                                                <img  th:unless="${item.exhibitImgObject}" class="slider-thumbnail"  th:src="@{'/images/exhibition/'+${item.imageList[0].imageOriginal} }" id="exhibitionPosterPresent">
                                                <img  th:if="${item.exhibitImgObject}" class="slider-thumbnail"  th:src="@{item.exhibitImgObject}" id="exhibitionPosterPresent">
                                                <!-- <p>[ [${item.exhibitImgObject}] ]</p> -->
                                                <h4 th:text="${item.exhibitTitle}">전시제목</h4>
                                                <p th:unless="${item.exhibitDate}" th:text=" '전시기간: 전시기관에 문의해주세요' ">기간</p>
                                                <p th:if="${item.exhibitDate}" th:text="'전시기간: ' + ${item.exhibitDate}">기간</p>
                                                <!-- <p th:text="'전시기간: ' + ${item.exhibitDate}">기간</p> -->
                                                <p th:text="${item.exhibitInstitution}">전시기관</p>
                                            </div>
                                            <!-- <h4 th:text="${item.exhibitTitle}">전시제목</h4>
                                            <p th:text="${item.exhibitDate} + '동안'">기간</p>
                                            <p th:text="${item.exhibitInstitution}">전시기관</p> -->
                                        </div>
                                    </div>
                                    <!-- <button class="slider-button right" onclick="slideRight()">&#8594;</button> -->
                                    <button class="slider-button right present" id="rightBtnPresent" onclick="slideRightPresent()">&gt;</button>
                                </div>

                            </div>
                            <div class="card future" id="card-future">
                                <div class="card-title future" id="card-title-future">예정 전시</div>
                                <!-- placeholder -->
                                <div class="slider-container">
                                    <!-- <button class="slider-button left" onclick="slideLeft()">&#8592;</button> -->
                                    <button class="slider-button future left" id="leftBtnFuture" onclick="slideLeftFuture()">&lt;</button>
                                    <div class="slider-wrapper future" id="sliderWrapperFuture">
                                        <div class="slide future" th:each="item : ${exhibitionList}">
                                            <div class="slide-item future">
                                                
                                                <!-- <img  class="slider-thumbnail"  th:src="${item.imageList.ImagePath+item.imageList.ImageOriginal}"> -->
                                                <img  th:unless="${item.exhibitImgObject}" class="slider-thumbnail"  th:src="@{'/images/exhibition/'+${item.imageList[0].imageOriginal} }" id="exhibitionPosterFuture">
                                                <img  th:if="${item.exhibitImgObject}" class="slider-thumbnail"  th:src="@{item.exhibitImgObject}" id="exhibitionPosterFuture">
                                                <!-- <p>[ [${item.exhibitImgObject}] ]</p> -->
                                                <h4 th:text="${item.exhibitTitle}">전시제목</h4>
                                                <p th:text="${item.exhibitDate} + '동안'">기간</p>
                                                <p th:text="${item.exhibitInstitution}">전시기관</p>
                                            </div>
                                            <!-- <h4 th:text="${item.exhibitTitle}">전시제목</h4>
                                            <p th:text="${item.exhibitDate} + '동안'">기간</p>
                                            <p th:text="${item.exhibitInstitution}">전시기관</p> -->
                                        </div>
                                    </div>
                                    <!-- <button class="slider-button right" onclick="slideRight()">&#8594;</button> -->
                                    <button class="slider-button future right" id="rightBtnFuture" onclick="slideRightFuture()">&gt;</button>
                                </div>

                            </div>
                            <div class="card previous" id="card-previous">
                                <div class="card-title past" id="card-title-past" >지난 전시</div>
                                <!-- placeholder -->
                                <div class="slider-container">
                                    <!-- <button class="slider-button left" onclick="slideLeft()">&#8592;</button> -->
                                    <button class="slider-button past left" id="leftBtnPast" onclick="slideLeftPast()">&lt;</button>
                                    <div class="slider-wrapper past" id="sliderWrapperPast">
                                        <div class="slide past" th:each="item : ${exhibitionList}">
                                            <div class="slide-item past">
                                                
                                                <!-- <img  class="slider-thumbnail"  th:src="${item.imageList.ImagePath+item.imageList.ImageOriginal}"> -->
                                                <img  th:unless="${item.exhibitImgObject}" class="slider-thumbnail"  th:src="@{'/images/exhibition/'+${item.imageList[0].imageOriginal} }" id="exhibitionPosterPast">
                                                <img  th:if="${item.exhibitImgObject}" class="slider-thumbnail"  th:src="@{item.exhibitImgObject}" id="exhibitionPosterPast">

                                                <!-- <p>[ [${item.exhibitImgObject}] ]</p> -->
                                                <h4 th:text="${item.exhibitTitle}">전시제목</h4>
                                                <p th:text="${item.exhibitDate} + '동안'">기간</p>
                                                <p th:text="${item.exhibitInstitution}">전시기관</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <button class="slider-button right" onclick="slideRight()">&#8594;</button> -->
                                    <button class="slider-button past right" id="rightBtnPast" onclick="slideRightPast()">&gt;</button>
                                </div>
                            </div>
                        </section>
    
                        <!-- Exhibition Table 영역 -->
                        <section id="section-table">
                            <div id="table-top-area">
                                <!-- 로그인 멤버 전시글 작성 -->
                                <div class="btn-area">
                                    <button th:if="${session.loginMember}" id="insertBtn">새전시 등록</button>    
                                </div>
                            </div>
    
                            <div id="table-list-exhibition">
                                <!-- 검색한 안한 경우 -->
                                <h3 th:unless="${param.query}" th:text='|전시 게시판 : 전체 목록|'></h3>                            
                                <!-- 검색한 경우 -->
                                <h3 th:if="${param.query}" th:text='|전시 게시판 : "${param.query}"  검색 결과|'></h3>
    
                                <!-- Exhibition List -->
                                <div class="list-table-wrapper">
                                    <table class="list-table">
                                        
                                        <thead>
                                            <tr>
                                                <th>글번호</th>
                                                <th>제목</th>
                                                <th>작성자</th>
                                                <th>작성일</th>
                                                <th>조회수</th>
                                                <th>좋아요</th>
                                            </tr>
                                        </thead>
    
                                        <tbody>
                                            <!-- 게시글 목록 조회 결과가 비어있다면 (즉 반환받은 exhibitionList가 null)-->
                                            <th:block th:if="${#lists.size(exhibitionList) == 0}">
                                                <!-- #lists : list관련된 기능을 제공하는 타임리프 (내장)객체 -->
                                                <!-- ${#lists.size(exhibitionList)} : exhibitionList의 길이 반환 -->
                                                <tr>
                                                    <th colspan="6">게시글이 존재하지 않습니다.</th>
                                                </tr>
                                            </th:block>
    
    
                                            <!-- 게시글 목록 조회 결과가 있는 경우 -->
                                            <th:block th:unless="${#lists.size(exhibitionList) == 0}">
                                                <tr th:each = "exhibition : ${exhibitionList}">
                                                    <td th:text="${exhibition.exhibitNo}">게시글 번호</td>
                                                    <td> 
                                                        <!-- <img class="list-thumbnail" src="https://via.placeholder.com/50x30"> 임시이미지-->
                                                        <!-- <img class="list-thumbnail" src="https://placehold.co/150x150.png"> 임시이미지-->
                                                        <!-- 썸네일이 있는 경우만 보여주자 -->
                                                        <!-- <img th:if="${exhibition.thumbnail}" class="list-thumbnail" th:src="${exhibition.thumbnail}"> 직접적 경로는 @{ }, 값을 해석해야 할때는 ${ } 써야함 -->
    
                                                        <!-- 전시 포스터말고, 전시글 작성자 profileImage를 있는 경우만 보여주자 -->
                                                        <!-- 프로필 이미지가 없는 경우 -->
                                                        <!-- <img th:src="@{/images/user.png}" id="memberProfile"> -->
                                                         <!-- <div th:with="exhibitionCode=3">  </div>처럼, 템플릿 내에서 임시로 사용할 변수를  th:with를 사용하여 선언 
                                                               여기서 exhibitionCode=3은 이 <div> 블록 안에서만 유효한 로컬 변수로 선언됩 
                                                                또는 <th:block th:with="exhibitionCode=3"> </th:block> 로 <th:block>에서 선언하고 사용가능 
                                                                <th:block th:with="exhibitionCode='ABC123'"> 문자열은 싱글코트
                                                         -->
                                                        <img th:unless="${session.loginMember.profileImage}" class="list-thumbnail"  th:src="@{/images/user.png}" id="memberProfile">
                                                        <!-- 프로필 이미지가 있는 경우 -->                                                    
                                                        <!-- <img th:if="${session.loginMember.profileImage}" class="list-thumbnail" th:src="${session.loginMember.profileImage}" id="memberProfile"> -->
    
                                                        <img th:if="${session.loginMember.profileImage}" class="list-thumbnail" th:src="@{${session.loginMember.profileImage}}" id="memberProfile">
                                                        <!-- 
                                                        //// =>Spring Boot는 src/main/resources/static 아래의 파일만 정적 리소스로 인식하여, 브라우저가 접근할 수 있는 "URL 경로"로 매핑합니다.
                                                        ////    그런데 지금은 src/main/resources/static 안의 이미지 경로를 제대로 웹 경로로 변환하지 않고, "파일 시스템 경로" 전체를 프론트에 전달하고 있어서, frontend에서 thymeleaf해석에서 에러가 발생
                                                        loginMember.setProfileImage("/images/exhibition/penguin.jpeg"); 
                                                        // => frontend에서 th:src="@{${session.loginMember.profileImage}}"로 ${} 변수를 파일시스텝경로 해석후, @{}로 URL 경로로 맵핑해줘야함
                                                        // @{}는 Thymeleaf의 URL expression입니다.
                                                        -->
                                                        <!-- 검색 X -->
                                                        <!-- 예시: http://localhost/exhibition/1/1500?cp=1 -->                                                     
                                                        <!-- <a th:unless="${param.key}" th:href="@{/exhibition/{exhibitionCode}/{exhibitionNo}(exhibitionCode=${exhibitionCode}, exhibitionNo=${exhibition.exhibitionNo}, cp=${pagination.currentPage} )}" th:text="${exhibition.exhibitionTitle}">게시글 제목</a>  exhibition는 th:each 문에 exhibition 로, 루프돌고 있다 -->
                                                        <a th:unless="${param.key}" th:href="@{/exhibition/{exhibitionCode}/{exhibitionNo}(exhibitionCode=${exhibitionCode}, exhibitionNo=${exhibition.exhibitNo}, cp=${pagination.currentPage} )}" th:utext="${exhibition.exhibitTitle}">게시글 제목</a>  <!-- exhibition는 th:each 문에 exhibition 로, 루프돌고 있다 -->
                                                        
                                                        <!-- 검색 O -->
                                                        <a th:if="${param.key}" th:href="@{/exhibition/{exhibitionCode}/{exhibitionNo}(exhibitionCode=${exhibitionCode}, exhibitionNo=${exhibition.exhibitNo}, cp=${pagination.currentPage}) , key=${param.key}, query=${param.query} }"  th:text="${exhibition.exhibitTitle}">게시글 제목</a>  <!-- exhibition는 th:each 문에 exhibition 로, 루프돌고 있다 -->
                                                        <!-- <th:block th:text="|[${exhibition.commentCount}]|">댓글 수</th:block>  -->
                                                        <!-- 위의 댓글은 [5] 전시게시판은 댓글 없다. 만약 댓글이 구현되었으면  게시글 제목뒤에 [5] 형태로 붙는다-->
                                                        <!-- |[...]|: Thymeleaf의 리터럴 서식 문법으로, 문자열 안에 표현식을 삽입할 수 있게 해줌 -->
    
                                                    </td>
                                                    <td>[[${exhibition.memberNickname}]]</td>
                                                    <td>[[${exhibition.exhibitCreateDate}]]</td>
                                                    <td>[[${exhibition.readCount}]]</td>
                                                    <td>[[${exhibition.likeCount}]]</td>
                                                </tr>
                                            </th:block>
    
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
    
                            <div id="table-bottom-area"></div>
                        </section>
    
                        <!-- 전시게시판 데이블 pagination -->
                        <section id="section-pagination">
                            <!-- 게시글이 있을 때만 페이지네이션 보이기 -->
                            <div th:if="${#lists.size(exhibitionList) > 0}" class="pagination-area">
    
                                <!-- 검색을 하지 않은 경우 -->
                                <ul th:unless ="${param.query}" class="pagination">
                                
                                    <!-- 첫 페이지(cp=1)로 이동 -->
                                    <!-- exhibitionCode : @PathVariable로 request scope에 세팅된 값 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=1">&lt;&lt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=1${qs}">&lt;&lt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=1) }">&lt;&lt;</a></li>
                                    <!-- 첫페이지는 항상 cp=1로 고정값 -->
                
                                    <!-- 이전 목록 마지막 번호로 이동 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.prevPage}">&lt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.prevPage}${qs}">&lt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${pagination.prevPage} ) }">&lt;</a></li>
                
                                    <!-- 특정 페이지로 이동 -->
                                    <!-- #numbers.sequence(시작, 끝, [, step]) : 타임리프 시퀀스(내장)객체  
                                            -> 시작 이상, 끝 이하 까지 step만큼 증가하는 숫자를 발생시켜 리스트로 반환 
                                    -->
                                    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
    
                                        <!-- 현재 보고있는 페이지 -->
                                        <li th:if="${pagination.currentPage == i}">
                                            <a class="current" th:text="${i}">현재 페이지</a>
                                        </li>
                                        
                                        <!-- 현재 페이지를 제외한 나머지 -->
                                        <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${i}">${i}</a></li> -->
                                        <li th:unless="${pagination.currentPage == i}">
                                            <a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${i}) }" th:text="${i}"></a>
                                        </li>
    
                                    </th:block>
                                    
                                    <!-- 다음 목록 시작 번호로 이동 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.nextPage}">&gt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.nextPage}${qs}">&gt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${pagination.prevPage} ) }">&gt;</a></li>
                
                                    <!-- 끝 페이지로 이동 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.maxPage}">&gt;&gt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.maxPage}${qs}">&gt;&gt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${pagination.maxPage} ) }">&gt;&gt;</a></li>            
                                </ul>
    
    
                                <!-- 검색을 한 경우 -->
                                <ul th:if ="${param.query}" class="pagination">
                                
                                    <!-- 첫 페이지(cp=1)로 이동 -->
                                    <!-- exhibitionCode : @PathVariable로 request scope에 세팅된 값 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=1">&lt;&lt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=1${qs}">&lt;&lt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=1) }">&lt;&lt;</a></li>
                                    <!-- 첫페이지는 항상 cp=1로 고정값 -->
                
                                    <!-- 이전 목록 마지막 번호로 이동 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.prevPage}">&lt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.prevPage}${qs}">&lt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${pagination.prevPage} ) }">&lt;</a></li>
                
                                    <!-- 특정 페이지로 이동 -->
                                    <!-- #numbers.sequence(시작, 끝, [, step]) : 타임리프 시퀀스(내장)객체  
                                            -> 시작 이상, 끝 이하 까지 step만큼 증가하는 숫자를 발생시켜 리스트로 반환 
                                    -->
                                    <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
    
                                        <!-- 현재 보고있는 페이지 -->
                                        <li th:if="${pagination.currentPage == i}">
                                            <a class="present" th:text="${i}">현재 페이지</a>
                                        </li>
                                        
                                        <!-- 현재 페이지를 제외한 나머지 -->
                                        <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${i}">${i}</a></li> -->
                                        <li th:unless="${pagination.currentPage == i}">
                                            <a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${i}, key=${param.key}, query=${param.query}) }" th:text="${i}"></a>
                                        </li>
    
                                    </th:block>
                
                                    
                                    <!-- 다음 목록 시작 번호로 이동 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.nextPage}">&gt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.nextPage}${qs}">&gt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${pagination.prevPage}, key=${param.key}, query=${param.query} ) }">&gt;</a></li>
                
                                    <!-- 끝 페이지로 이동 -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.maxPage}">&gt;&gt;</a></li> -->
                                    <!-- <li><a href="/exhibition/${exhibitionCode}?cp=${pagination.maxPage}${qs}">&gt;&gt;</a></li> -->
                                    <li><a th:href="@{/exhibition/{code}(code=${exhibitionCode}, cp=${pagination.maxPage}, key=${param.key}, query=${param.query} ) }">&gt;&gt;</a></li>
                                </ul>
    
                            </div>
    
                        </section>

                    </div>
                    


            </div>

            <!-- 본문 하단 영역 -->
            <div id="content-bottom">
                <div id="conbot-sub1">

                    <!-- 전시 게시판 검색창 -->
                    <section id="section-search">
                        <!-- 검색창 -->
                        <!-- <form action="#" method="get" id="exhibitionSearch"> -->   
                        <!-- <form action="/exhibition/게시판코드" method="get" id="exhibitionSearch"> -->
                        <!-- <form action="exhibitionCode" method="get" id="exhibitionSearch"> -->
                        <!-- <form th:action="${exhibitionCode}" method="get" id="exhibitionSearch"> -->
                        <form th:action="${exhibitionCode}" method="get" id="exhibitionSearch">

                            <select name="key" id="searchKey">
                                <!-- <option value="t" <c:if test="${param.key == 't'}">selected="selected"</c:if>>제목</option> -->
                                <option value="g" >주제</option>
                                <option value="a" >작가</option> 
                                <option value="t">제목</tion>
                                <option value="i">기관명</option>
                                <option value="e">기타</option>
                            </select>

                            <input type="text" name="query"  id="searchQuery" placeholder="검색어를 입력해주세요.">

                            
                            <button>검색</button>
                        </form>

                    </section>

                </div>
                <!-- <div id="conbot-sub2"></div>
                <div id="conbot-sub3"></div> -->
            </div>

        </div>
        
        <!-- ######################################################## -->
        <!-- 푸터 : footer.html -->
        <footer id="main-footer"></footer>

        
        <script th:src="@{/js/exhibition/exhibitionList.js}"></script>


      </main>
    </div>
    
</body>
</html>